@{
    ViewData["Title"] = "Bienvenido";
}

<div class="container-fluid">
    <h1>Bienvenido</h1>
    <br />
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>154</h3>
                    <p>Eventos realizados</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a style="cursor: pointer;" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>521</h3>
                    <p>Participantes</p>
                </div>
                <div class="icon">
                    <i class="ion ion-folder"></i>
                </div>
                <a style="cursor: pointer;" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>431</h3>
                    <p>Complejos deportivos</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a style="cursor: pointer;" class="small-box-footer">Más info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <br />
    <!-- /.row -->
    <div class="row">
        <img src="~/img/fondo_bienvenida.jpg" alt="Logo Olimpiadas" width="100%" >
    </div>


</div>
